#drawer.inactive {
    transform: translateX(100%);
    transition: all 300ms ease-in;
}

#drawer.active {
    transform: translateX(0);
    transition: all 300ms ease-out;
}

#overlay {
    transition: all 300ms ease-out;
}

#overlay.inactive {
    opacity: 0%;
}

#overlay.active {
    opacity: 75%;
}
